/* PAGE CONTACTO */
.boton__contacto {
    display: flex;
    justify-content: center;
}

.boton {
    width: 150px;
    background-color: red;
    border: 1px solid black;
}
.main-contacto{
    margin: 20px 0px 0px 0px;
}
