/* SECCION 2 INDEX */
.seccion2__index {
    background-color: rgba(250, 235, 215, 0.295);
    flex-wrap: wrap;
}

.top6__latinoamerica {
    color: brown;
    margin: 15px 10px;
}

.seccion2__index a:hover {
    transform: scale(1.1);
}
.seccion2__mobile{
    display: none;
}
