/* ASIDE */
.aside {
    grid-area: aside;
    border: 1px solid #00000023;
    flex-wrap: wrap;
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: square;
    }
    li {
        margin: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    a {
        text-decoration: none;
        font-size: 25px;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        padding: auto;
        text-align: center;
        text-decoration: none;
        color: brown;
        font-family: 'Open Sans', sans-serif;
        margin: 3px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .btnIngresoIndex{
        margin: 10px;
    }
}

