/* SECCION 2 INDEX */
.top6Latinoamerica {
    color: brown;
    margin: 15px 10px;
    font-family: 'Montserrat', sans-serif;
}

.seccion2Index {
    flex-wrap: wrap;
    a:hover {
        transform: scale(1.1);
    }
}
.seccion2Mobile {
    display: none;
}